
@model t5_pr1_LlucVelazquez.Model.DbSimulation

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h1>Eliminar</h1>

<h3>Estas segur que vols eliminar això?</h3>
<div>
    <h4>Simulació</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoresSol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoresSol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VelocitatVent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VelocitatVent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabalAigua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabalAigua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnergyGen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnergyGen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreuTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreuTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Tornar</a>
    </form>
</div>