@page
@model t5_pr1_LlucVelazquez.Pages.EnergyIndicatorsModel
@{
	ViewData["Title"] = "Indicadors energètics";
}
<h1>Indicadors Energètics</h1>
<br />
<a asp-page="/AddEnergyIndicator" class="btn btn-primary">Afegir Indicador Energetic</a>
<h2>Registres</h2>
<table class="table">
	<thead>
		<tr>
			<td>Data</td>
			<td>PBEE_Hidroelectr</td>
			<td>PBEE_Carbo</td>
			<td>PBEE_GasNat</td>
			<td>PBEE_Fuel_Oil</td>
			<td>PBEE_CiclComb</td>
			<td>PBEE_Nuclear</td>
			<td>CDEEBC_ProdBruta</td>
			<td>CDEEBC_ConsumAux</td>
			<td>CDEEBC_ProdNeta</td>
			<td>CDEEBC_ConsumBomb</td>
			<td>CDEEBC_ProdDisp</td>
			<td>CDEEBC_TotVendesXarxaCentral</td>
			<td>CDEEBC_SaldoIntercanviElectr</td>
			<td>CDEEBC_DemandaElectr</td>
			<td>CDEEBC_TotalEBCMercatRegulat</td>
			<td>CDEEBC_TotalEBCMercatLliure</td>
			<td>FEE_Industria</td>
			<td>FEE_Terciari</td>
			<td>FEE_Domestic</td>
			<td>FEE_Primari</td>
			<td>FEE_Energetic</td>
			<td>FEEI_ConsObrPub</td>
			<td>FEEI_SiderFoneria</td>
			<td>FEEI_Metalurgia</td>
			<td>FEEI_IndusVidre</td>
			<td>FEEI_CimentsCalGuix</td>
			<td>FEEI_AltresMatConstr</td>
			<td>FEEI_QuimPetroquim</td>
			<td>FEEI_ConstrMedTrans</td>
			<td>FEEI_RestaTransforMetal</td>
			<td>FEEI_AlimBegudaTabac</td>
			<td>FEEI_TextilConfecCuirCalçat</td>
			<td>FEEI_PastaPaperCartro</td>
			<td>FEEI_AltresIndus</td>
			<td>DGGN_PuntFrontEnagas</td>
			<td>DGGN_DistrAlimGNL</td>
			<td>DGGN_ConsumGNCentrTerm</td>
			<td>CCAC_GasolinaAuto</td>
			<td>CCAC_GasoilA</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var p in Model.EnergyIndicators)
		{
			<tr>
				<td>@p.Data</td>
				<td>@p.PBEE_Hidroelectr</td>
				<td>@p.PBEE_Carbo</td>
				<td>@p.PBEE_GasNat</td>
				<td>@p.PBEE_Fuel_Oil</td>
				<td>@p.PBEE_CiclComb</td>
				<td>@p.PBEE_Nuclear</td>
				<td>@p.CDEEBC_ProdBruta</td>
				<td>@p.CDEEBC_ConsumAux</td>
				<td>@p.CDEEBC_ProdNeta</td>
				<td>@p.CDEEBC_ConsumBomb</td>
				<td>@p.CDEEBC_ProdDisp</td>
				<td>@p.CDEEBC_TotVendesXarxaCentral</td>
				<td>@p.CDEEBC_SaldoIntercanviElectr</td>
				<td>@p.CDEEBC_DemandaElectr</td>
				<td>@p.CDEEBC_TotalEBCMercatRegulat</td>
				<td>@p.CDEEBC_TotalEBCMercatLliure</td>
				<td>@p.FEE_Industria</td>
				<td>@p.FEE_Terciari</td>
				<td>@p.FEE_Domestic</td>
				<td>@p.FEE_Primari</td>
				<td>@p.FEE_Energetic</td>
				<td>@p.FEEI_ConsObrPub</td>
				<td>@p.FEEI_SiderFoneria</td>
				<td>@p.FEEI_Metalurgia</td>
				<td>@p.FEEI_IndusVidre</td>
				<td>@p.FEEI_CimentsCalGuix</td>
				<td>@p.FEEI_AltresMatConstr</td>
				<td>@p.FEEI_QuimPetroquim</td>
				<td>@p.FEEI_ConstrMedTrans</td>
				<td>@p.FEEI_RestaTransforMetal</td>
				<td>@p.FEEI_AlimBegudaTabac</td>
				<td>@p.FEEI_TextilConfecCuirCalçat</td>
				<td>@p.FEEI_PastaPaperCartro</td>
				<td>@p.FEEI_AltresIndus</td>
				<td>@p.DGGN_PuntFrontEnagas</td>
				<td>@p.DGGN_DistrAlimGNL</td>
				<td>@p.DGGN_ConsumGNCentrTerm</td>
				<td>@p.CCAC_GasolinaAuto</td>
				<td>@p.CCAC_GasoilA</td>
			</tr>
		}
</table>
<p>Quantitat de registres: @Model.EnergyIndicators.Count()</p>
<h2>Produccio neta superior a 3000</h2>
<table class="table">
	<thead>
		<tr>
			<td>Data</td>
			<td>PBEE_Hidroelectr</td>
			<td>PBEE_Carbo</td>
			<td>PBEE_GasNat</td>
			<td>PBEE_Fuel_Oil</td>
			<td>PBEE_CiclComb</td>
			<td>PBEE_Nuclear</td>
			<td>CDEEBC_ProdBruta</td>
			<td>CDEEBC_ConsumAux</td>
			<td>CDEEBC_ProdNeta</td>
			<td>CDEEBC_ConsumBomb</td>
			<td>CDEEBC_ProdDisp</td>
			<td>CDEEBC_TotVendesXarxaCentral</td>
			<td>CDEEBC_SaldoIntercanviElectr</td>
			<td>CDEEBC_DemandaElectr</td>
			<td>CDEEBC_TotalEBCMercatRegulat</td>
			<td>CDEEBC_TotalEBCMercatLliure</td>
			<td>FEE_Industria</td>
			<td>FEE_Terciari</td>
			<td>FEE_Domestic</td>
			<td>FEE_Primari</td>
			<td>FEE_Energetic</td>
			<td>FEEI_ConsObrPub</td>
			<td>FEEI_SiderFoneria</td>
			<td>FEEI_Metalurgia</td>
			<td>FEEI_IndusVidre</td>
			<td>FEEI_CimentsCalGuix</td>
			<td>FEEI_AltresMatConstr</td>
			<td>FEEI_QuimPetroquim</td>
			<td>FEEI_ConstrMedTrans</td>
			<td>FEEI_RestaTransforMetal</td>
			<td>FEEI_AlimBegudaTabac</td>
			<td>FEEI_TextilConfecCuirCalçat</td>
			<td>FEEI_PastaPaperCartro</td>
			<td>FEEI_AltresIndus</td>
			<td>DGGN_PuntFrontEnagas</td>
			<td>DGGN_DistrAlimGNL</td>
			<td>DGGN_ConsumGNCentrTerm</td>
			<td>CCAC_GasolinaAuto</td>
			<td>CCAC_GasoilA</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var p in Model.NetProductionAbove3000)
	{
			<tr>
				<td>@p.Data</td>
				<td>@p.PBEE_Hidroelectr</td>
				<td>@p.PBEE_Carbo</td>
				<td>@p.PBEE_GasNat</td>
				<td>@p.PBEE_Fuel_Oil</td>
				<td>@p.PBEE_CiclComb</td>
				<td>@p.PBEE_Nuclear</td>
				<td>@p.CDEEBC_ProdBruta</td>
				<td>@p.CDEEBC_ConsumAux</td>
				<td>@p.CDEEBC_ProdNeta</td>
				<td>@p.CDEEBC_ConsumBomb</td>
				<td>@p.CDEEBC_ProdDisp</td>
				<td>@p.CDEEBC_TotVendesXarxaCentral</td>
				<td>@p.CDEEBC_SaldoIntercanviElectr</td>
				<td>@p.CDEEBC_DemandaElectr</td>
				<td>@p.CDEEBC_TotalEBCMercatRegulat</td>
				<td>@p.CDEEBC_TotalEBCMercatLliure</td>
				<td>@p.FEE_Industria</td>
				<td>@p.FEE_Terciari</td>
				<td>@p.FEE_Domestic</td>
				<td>@p.FEE_Primari</td>
				<td>@p.FEE_Energetic</td>
				<td>@p.FEEI_ConsObrPub</td>
				<td>@p.FEEI_SiderFoneria</td>
				<td>@p.FEEI_Metalurgia</td>
				<td>@p.FEEI_IndusVidre</td>
				<td>@p.FEEI_CimentsCalGuix</td>
				<td>@p.FEEI_AltresMatConstr</td>
				<td>@p.FEEI_QuimPetroquim</td>
				<td>@p.FEEI_ConstrMedTrans</td>
				<td>@p.FEEI_RestaTransforMetal</td>
				<td>@p.FEEI_AlimBegudaTabac</td>
				<td>@p.FEEI_TextilConfecCuirCalçat</td>
				<td>@p.FEEI_PastaPaperCartro</td>
				<td>@p.FEEI_AltresIndus</td>
				<td>@p.DGGN_PuntFrontEnagas</td>
				<td>@p.DGGN_DistrAlimGNL</td>
				<td>@p.DGGN_ConsumGNCentrTerm</td>
				<td>@p.CCAC_GasolinaAuto</td>
				<td>@p.CCAC_GasoilA</td>
			</tr>
	}
	</tbody>
</table>
<p>Quantitat de registres: @Model.NetProductionAbove3000.Count()</p>
<h2>Consum de gasolina superior a 100</h2>
<table class="table">
	<thead>
		<tr>
			<td>Data</td>
			<td>PBEE_Hidroelectr</td>
			<td>PBEE_Carbo</td>
			<td>PBEE_GasNat</td>
			<td>PBEE_Fuel_Oil</td>
			<td>PBEE_CiclComb</td>
			<td>PBEE_Nuclear</td>
			<td>CDEEBC_ProdBruta</td>
			<td>CDEEBC_ConsumAux</td>
			<td>CDEEBC_ProdNeta</td>
			<td>CDEEBC_ConsumBomb</td>
			<td>CDEEBC_ProdDisp</td>
			<td>CDEEBC_TotVendesXarxaCentral</td>
			<td>CDEEBC_SaldoIntercanviElectr</td>
			<td>CDEEBC_DemandaElectr</td>
			<td>CDEEBC_TotalEBCMercatRegulat</td>
			<td>CDEEBC_TotalEBCMercatLliure</td>
			<td>FEE_Industria</td>
			<td>FEE_Terciari</td>
			<td>FEE_Domestic</td>
			<td>FEE_Primari</td>
			<td>FEE_Energetic</td>
			<td>FEEI_ConsObrPub</td>
			<td>FEEI_SiderFoneria</td>
			<td>FEEI_Metalurgia</td>
			<td>FEEI_IndusVidre</td>
			<td>FEEI_CimentsCalGuix</td>
			<td>FEEI_AltresMatConstr</td>
			<td>FEEI_QuimPetroquim</td>
			<td>FEEI_ConstrMedTrans</td>
			<td>FEEI_RestaTransforMetal</td>
			<td>FEEI_AlimBegudaTabac</td>
			<td>FEEI_TextilConfecCuirCalçat</td>
			<td>FEEI_PastaPaperCartro</td>
			<td>FEEI_AltresIndus</td>
			<td>DGGN_PuntFrontEnagas</td>
			<td>DGGN_DistrAlimGNL</td>
			<td>DGGN_ConsumGNCentrTerm</td>
			<td>CCAC_GasolinaAuto</td>
			<td>CCAC_GasoilA</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var p in Model.GasConsumMore100)
		{
			<tr>
				<td>@p.Data</td>
				<td>@p.PBEE_Hidroelectr</td>
				<td>@p.PBEE_Carbo</td>
				<td>@p.PBEE_GasNat</td>
				<td>@p.PBEE_Fuel_Oil</td>
				<td>@p.PBEE_CiclComb</td>
				<td>@p.PBEE_Nuclear</td>
				<td>@p.CDEEBC_ProdBruta</td>
				<td>@p.CDEEBC_ConsumAux</td>
				<td>@p.CDEEBC_ProdNeta</td>
				<td>@p.CDEEBC_ConsumBomb</td>
				<td>@p.CDEEBC_ProdDisp</td>
				<td>@p.CDEEBC_TotVendesXarxaCentral</td>
				<td>@p.CDEEBC_SaldoIntercanviElectr</td>
				<td>@p.CDEEBC_DemandaElectr</td>
				<td>@p.CDEEBC_TotalEBCMercatRegulat</td>
				<td>@p.CDEEBC_TotalEBCMercatLliure</td>
				<td>@p.FEE_Industria</td>
				<td>@p.FEE_Terciari</td>
				<td>@p.FEE_Domestic</td>
				<td>@p.FEE_Primari</td>
				<td>@p.FEE_Energetic</td>
				<td>@p.FEEI_ConsObrPub</td>
				<td>@p.FEEI_SiderFoneria</td>
				<td>@p.FEEI_Metalurgia</td>
				<td>@p.FEEI_IndusVidre</td>
				<td>@p.FEEI_CimentsCalGuix</td>
				<td>@p.FEEI_AltresMatConstr</td>
				<td>@p.FEEI_QuimPetroquim</td>
				<td>@p.FEEI_ConstrMedTrans</td>
				<td>@p.FEEI_RestaTransforMetal</td>
				<td>@p.FEEI_AlimBegudaTabac</td>
				<td>@p.FEEI_TextilConfecCuirCalçat</td>
				<td>@p.FEEI_PastaPaperCartro</td>
				<td>@p.FEEI_AltresIndus</td>
				<td>@p.DGGN_PuntFrontEnagas</td>
				<td>@p.DGGN_DistrAlimGNL</td>
				<td>@p.DGGN_ConsumGNCentrTerm</td>
				<td>@p.CCAC_GasolinaAuto</td>
				<td>@p.CCAC_GasoilA</td>
			</tr>
		}
	</tbody>
</table>
<p>Quantitat de registres: @Model.GasConsumMore100.Count()</p>
<h2>Mitjana de produccio neta per any</h2>
<table class="table">
	<tbody>
		@foreach (var p in Model.ProductionAverageForYear)
		{
			<tr>
				<td>@p.any</td>
				<td>@p.mitjanaProduccioNeta</td>
			</tr>
		}
	</tbody>
</table>
<p>Quantitat de registres: @Model.ProductionAverageForYear.Count()</p>

<h2>Demanda electrica superior a 4000 i produccio disponible inferior a 3000</h2>
<table class="table">
	<thead>
		<tr>
			<td>Data</td>
			<td>PBEE_Hidroelectr</td>
			<td>PBEE_Carbo</td>
			<td>PBEE_GasNat</td>
			<td>PBEE_Fuel_Oil</td>
			<td>PBEE_CiclComb</td>
			<td>PBEE_Nuclear</td>
			<td>CDEEBC_ProdBruta</td>
			<td>CDEEBC_ConsumAux</td>
			<td>CDEEBC_ProdNeta</td>
			<td>CDEEBC_ConsumBomb</td>
			<td>CDEEBC_ProdDisp</td>
			<td>CDEEBC_TotVendesXarxaCentral</td>
			<td>CDEEBC_SaldoIntercanviElectr</td>
			<td>CDEEBC_DemandaElectr</td>
			<td>CDEEBC_TotalEBCMercatRegulat</td>
			<td>CDEEBC_TotalEBCMercatLliure</td>
			<td>FEE_Industria</td>
			<td>FEE_Terciari</td>
			<td>FEE_Domestic</td>
			<td>FEE_Primari</td>
			<td>FEE_Energetic</td>
			<td>FEEI_ConsObrPub</td>
			<td>FEEI_SiderFoneria</td>
			<td>FEEI_Metalurgia</td>
			<td>FEEI_IndusVidre</td>
			<td>FEEI_CimentsCalGuix</td>
			<td>FEEI_AltresMatConstr</td>
			<td>FEEI_QuimPetroquim</td>
			<td>FEEI_ConstrMedTrans</td>
			<td>FEEI_RestaTransforMetal</td>
			<td>FEEI_AlimBegudaTabac</td>
			<td>FEEI_TextilConfecCuirCalçat</td>
			<td>FEEI_PastaPaperCartro</td>
			<td>FEEI_AltresIndus</td>
			<td>DGGN_PuntFrontEnagas</td>
			<td>DGGN_DistrAlimGNL</td>
			<td>DGGN_ConsumGNCentrTerm</td>
			<td>CCAC_GasolinaAuto</td>
			<td>CCAC_GasoilA</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var p in Model.ElectricalDemand)
		{
			<tr>
				<td>@p.Data</td>
				<td>@p.PBEE_Hidroelectr</td>
				<td>@p.PBEE_Carbo</td>
				<td>@p.PBEE_GasNat</td>
				<td>@p.PBEE_Fuel_Oil</td>
				<td>@p.PBEE_CiclComb</td>
				<td>@p.PBEE_Nuclear</td>
				<td>@p.CDEEBC_ProdBruta</td>
				<td>@p.CDEEBC_ConsumAux</td>
				<td>@p.CDEEBC_ProdNeta</td>
				<td>@p.CDEEBC_ConsumBomb</td>
				<td>@p.CDEEBC_ProdDisp</td>
				<td>@p.CDEEBC_TotVendesXarxaCentral</td>
				<td>@p.CDEEBC_SaldoIntercanviElectr</td>
				<td>@p.CDEEBC_DemandaElectr</td>
				<td>@p.CDEEBC_TotalEBCMercatRegulat</td>
				<td>@p.CDEEBC_TotalEBCMercatLliure</td>
				<td>@p.FEE_Industria</td>
				<td>@p.FEE_Terciari</td>
				<td>@p.FEE_Domestic</td>
				<td>@p.FEE_Primari</td>
				<td>@p.FEE_Energetic</td>
				<td>@p.FEEI_ConsObrPub</td>
				<td>@p.FEEI_SiderFoneria</td>
				<td>@p.FEEI_Metalurgia</td>
				<td>@p.FEEI_IndusVidre</td>
				<td>@p.FEEI_CimentsCalGuix</td>
				<td>@p.FEEI_AltresMatConstr</td>
				<td>@p.FEEI_QuimPetroquim</td>
				<td>@p.FEEI_ConstrMedTrans</td>
				<td>@p.FEEI_RestaTransforMetal</td>
				<td>@p.FEEI_AlimBegudaTabac</td>
				<td>@p.FEEI_TextilConfecCuirCalçat</td>
				<td>@p.FEEI_PastaPaperCartro</td>
				<td>@p.FEEI_AltresIndus</td>
				<td>@p.DGGN_PuntFrontEnagas</td>
				<td>@p.DGGN_DistrAlimGNL</td>
				<td>@p.DGGN_ConsumGNCentrTerm</td>
				<td>@p.CCAC_GasolinaAuto</td>
				<td>@p.CCAC_GasoilA</td>
			</tr>
		}
	</tbody>
</table>
<p>Quantitat de registres: @Model.ElectricalDemand.Count()</p>

<p>@Model.FileErrorMessage</p>